*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #80001f, #30197d);
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 30rem;
    background: rgba(235, 0, 255, 0.11);
    height: 200px;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    align-items: center;
    font-size: 3rem;
}

.clock div{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

p{
    font-size: 14px;
}

.mins::after{
    content: 'MINUTES';
    font-size: 14px;
}
.hours::after{
    content: 'HOURS';
    font-size: 14px;
}
.sec::after{
    content: 'SECONDS';
    font-size: 14px
}

